@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@100..900&display=swap');

/* Optional: Custom styles */
* {
    font-family: 'Noto Serif Khmer', serif;
}
/* ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: #e5d5ec;
} */
@media print {
    .hidden-print {
        display: none;
    }

    .print-header {
        font-size: 20px;
        line-height: 1.5rem; /* 24px */
    }

    #printTable {
        visibility: visible;
        position: absolute;
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
        left: 0;
        top: 0;
        color: black; /* Ensure text is printed in black */
    }
}
/* For Webkit-based browsers (Chrome, Safari, Edge) */

/* The overall scrollbar container */
::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

/* The track (the part the scrollbar moves along) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey track */
    border-radius: 10px;
}

/* The draggable scrolling handle */
::-webkit-scrollbar-thumb {
    background: #0a008e; /* The main color of the scrollbar thumb */
    border-radius: 10px;
}

/* The draggable scrolling handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* A darker color when you hover over it */
}
